@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-bbw-50: #f2f8c5;
    --color-bbw-100: #e6f18b;
    --color-bbw-200: #d9eb52;
    --color-bbw-300: #cde418;
    --color-bbw-400: #b3d800;
    --color-bbw-500: #8fb600;
    --color-bbw-600: #6b8c00;
    --color-bbw-700: #476200;
    --color-bbw-800: #233900;
    --color-bbw-900: #001000;
}

/* Hide number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
